/*
 * Frameit styles for documentation page
 * layout inspired by documenter http://revaxarts-themes.com/documenter/
 * created: 1/10
 * author: geedmo
 * profile: http://codecanyon.net/user/geedmo
 */


/* Base style */

body {
  font-family: Arial;
  font-size: 17px;
  font-style: normal;
  font-weight: normal;  
  margin: 0;  
  color: #585858;
  line-height: 20px;
  
}
h1 { text-align: center; font-size: 300%;font-weight: 900; color: #585858 }
h2 { text-align: left; font-size: 250%; margin-bottom: 30px; font-weight: 900; color: #585858;}
h3 { font-size: 160%; color: #585858; margin: 40px 0; text-transform: uppercase; padding-bottom: 8px; border-bottom: 1px solid gray;}
h4 { font-size: 120%; color: #585858; margin: 20px 0;}
h5 {text-align: center}
a { text-decoration: none; color: #00448C; }
a:hover { text-decoration: underline; }
p { margin-bottom: 10px; }
li { margin-bottom: 5px; }

blockquote { margin: 1em 40px; font-weight: normal;	}
code { 
  font-weight: normal; 
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: 14px;
 }

.important { 
  font-weight: normal; 
  padding: 2px 4px;
  color: white;
  white-space: nowrap;
  background-color: #5E83CC;
  border: 1px solid #e1e1e8;
  font-size: 14px;
 }

 
hr { border: 1px solid #CCC; }
table { font: normal normal 10pt/12pt "Verdana"; border-spacing: 45px; }
thead tr { height: 40px; } 
thead td { font-weight: bold; color: #444; border-bottom: 1px solid #333; }
tbody td:first-child { font-weight: bold; }
td { border: none; }
td.col-name { width: 15%; }
td.col-desc { width: 55%; }
td.col-allow { width: 15%; }
td.col-default { width: 15%; }
td.col-ef { width: 45%; }
td.col-br { width: 10%;  }

ol {list-style: decimal}
ol li {margin-left: 30px}
li {margin-left: 20px;}
pre { border-radius: 3px; margin: 20px 0; }



tr td {padding: 16px}
tr:nth-child(even) {background: #EEE; }
tr:nth-child(odd) {background: #FFF; }

#sidebar {
	background: #323232;
	position: fixed;
	height: 100%;
	float: right;
	left: 0;
	width: 210px;
	margin: 0;
	border-right: 8px solid #DFDFDE;
	z-index: 100;
	overflow: auto;
}

/* Content styles */
#content {
	border-top: 8px solid #DFDFDE;
	position: absolute;
	margin-left: 210px;
	padding-right: 50px;
	padding-left: 50px;
	z-index: 1;
	max-width: 960px;
	
}
#content ul {
	list-style-type: disc;
	margin-left: 10px;
}

#content p, #content pre  {
	font-weight: normal;
}


#header {
	margin-top: 40px;
	border-bottom: 1px solid #181818;
	height: 20%;
	padding-bottom: 20px;
}
#header img {width: 100%;}
#header h2 {color: white; text-align: center; padding-bottom: 15px; border-bottom: 1px solid white; margin: 0 10px;}
.section {
	padding-top: 200px;
	margin-bottom: 40px;
}

#start {
	height: 800px;
}
#copyr {
	color: #999;
	font-size: 70%;
	margin: 15px 5px 15px;
	overflow: hidden;
}
/* Menu styles */
#menu {
	
}

#menu h2 {
	text-align: center;
	margin-bottom: 40px;
	font-size: 140%;
}
#menu li {
	margin: 2px;
	background: inherit;
	height: 38px;
	font: normal normal 700 12px/38px Verdana;
	color: #f1f1f1 !important;
	text-align: right;
	padding-right: 20px;
	margin: 0;
	text-transform: capitalize;
	border-bottom: 1px solid #181818;
	border-top: 1px solid #484848;
}
#menu li:hover, 
#menu li.active { 
	background: #020202;
	cursor: pointer;
	border-top: 1px solid #181818;
	border-bottom: 1px solid #484848;
}

#menu li a {
	color: #f1f1f1 !important;
}

#menu li:hover a {
	color: #FFFFFF;
	text-decoration: none
}


